{% load static %}
<html>
<head><title>Twinkle</title>
  <script src='{% static "jquery-3.1.0.min.js" %}'></script>
  <script src='{% static "twinkle_udp/spectrum.js" %}'></script>
  <link rel='stylesheet' href='{% static "twinkle_udp/spectrum.css" %}' />
  <script>
    $(function() {
      $('.color').spectrum({color: '#000'});
    })
  </script>
</head>

<body>
<form action='/' method='POST'>
{% csrf_token %}
  <p>
    <label for='id'>Light:</label>
    <select name='id'>
      <option value='FFFFFFFF'>All</option>
    </select>
  </p>
  <p>
    <label for='command'>Command:</label>
    <select name='command'>
      <option value='00'>Fill</option>
      <option value='01'>Rainbow</option>
      <option value='02'>Twinkle</option>
      <option value='FE'>Set Count</option>
      <option value='FD'>Reset</option>
    </select>
  </p>
  <p>
    <label for='count'>Count:</label>
    <input type='text' name='count' />
  </p>
  <p>
    <label for='delay'>Delay:</label>
    <input type='text' name='delay' />
  </p>
  <p>
    <label for='color1'>Color 1:</label>
    <input type='text' name='color1' class='color' />
  </p>
  <p>
    <label for='color2'>Color 2:</label>
    <input type='text' name='color2' class='color' />
  </p>

<input type='submit'>
</form>
</body>
</html>
